{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create new project</a>
        </p>
        {% if projectlist|length == 0 %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for project in projectlist %}
                            <td>
                                <a href="{% url 'show_project' project.pk %}">{{ project }}</a>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
